.GridCard{
  background: transparent;
  align-content: center;
  align-items: center;
}
.ContainerGrid:hover {
  background-color: #6ae27e;
  transform: scale(1.2);
}

.cardImg{
  border-radius: 1rem;
}

#IconTemp {
  color: cornflowerblue;
  position: relative;
  animation-name: example;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes example {
  from {
    left:0px; top:0px;
  }
  to {
    left:0px; top:3px;
  }
}
.ContainerGrid{
  background-color: rgba(34, 93, 187, 0.8);
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  transition: width 2s, height 2s, background-color 2s, transform 1s;
}
@keyframes cardAnimation {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}



